

# Compiled class file1
*.class

# Log file
*.com.nizouba.log

# BlueJ com.nizouba.files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#custom
out/
.idea/
target/
*.iml
*.cmd
.mvn/
.mvnw
mvnw.cmd

