<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <property name="PROJECT_NAME">transaction</property>
    <property name="LOG_PATH">./logs/${PROJECT_NAME}/</property>
    <property name="LOG_FILE">transaction</property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>%highlight{%-d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] - %m%n}</pattern>
      </PatternLayout>
    </Console>
    <RollingRandomAccessFile name="RollingFile" fileName="${LOG_PATH}/${LOG_FILE}.log"
      filePattern="${LOG_PATH}/$${date:yyyyMM}/${LOG_FILE}-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <pattern>%-d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] - %m%n</pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="2">
          <IfAccumulatedFileCount exceeds="50" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <AsyncLogger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug">
    </AsyncLogger>
    <AsyncLogger name="org.hibernate" level="warn">
    </AsyncLogger>
    <AsyncLogger name="com.tuowazi" level="info">
    </AsyncLogger>
    <AsyncRoot level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </AsyncRoot>
  </Loggers>
</Configuration>