<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nizouba.mapper.TxUserMapper" >
  <resultMap id="BaseResultMap" type="com.nizouba.domain.po.TxUser" >
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>


  <delete id="delete"  >
    delete from tx_user
  </delete>

  <select id="select"  resultMap="BaseResultMap">
    select username
    from tx_user
  </select>

  <insert id="insert" parameterType="com.nizouba.domain.po.TxUser" >
    insert into tx_user (username)
    values(
    #{username,jdbcType=VARCHAR}
    )
  </insert>
</mapper>